body {
  background: #151015;
  color: white;
  text-shadow: 2px 2px red;
  margin: 0;
  font-family: "Roboto";
  font-size: 120%;
  font-weight: 300;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#topmenu {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background: black;
  color: white;
  font-family: "Press start 2P";
  font-size: 20px;
}
.inHead {
  flex: auto;
  color: white;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
}
.box {
  display: flex;
  justify-content: row;
/*   margin-bottom: 30px; */
}
.picture {
  width: 475px;
  box-sizing: border-box;
  height: 600px;
  background: url("https://raw.githubusercontent.com/green-fox-academy/myfirstapp-syllabus/master/assets/first-website-header.png");
  background-position: center;
  background-size: cover;
  color: #222222;
  font-family: "Sansita swashed";
  position: relative;
}
#bigH1 {
  position: absolute;
  font-size: 85px;
  margin: 0;
  bottom: 28%;
  left: 10%;
  text-align: left;
}
#bigH2 {
  position: absolute;
  font-size: 95px;
  margin: 0;
  bottom: 15%;
  left: 10%;
  text-align: left;
}
#smallH {
  position: absolute;
  font-size: 40px;
  bottom: 38%;
  left: 10%;
}

.right {
  padding: 3%;
  text-shadow: 1px 1px red;
  width: 600px;
  text-align: left;
}
.bitLarger {
  font-size: 130%;
  line-height: 130%;
}

.citation {
  margin-top: 50px;
  background: black;
  color: black;
  font-family: "Times New Roman";
  font-size: 55px;
  width: 350px;
  height: 100%;
/*   box-sizing: border-box; */
  padding: 20px 55px;
  text-align: left;
  line-height: 150%;
  position: relative;
}
.citation::before {
  content: '"';
  position: absolute;
  top: 3%;
  left: 3%;
  font-family: "Abril Fatface";
  font-size: 100px;
}

ul {
  list-style-type: square;
  width: 90%;
  text-align: left;
}

h2 {
  margin-top: 70px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
}

h3 {
  text-align: left;
  width: 100%;
  font-size: 130%;
  margin: 30px 0px 0px 0px;
}
.bottomM {
  margin-bottom: 30px;
}

.italic {
  font-family: "Merriweather";
  font-size: 15px;
  text-align: left;
  width: 100%;
}

#goUpButton {
  position: fixed;
  bottom: 5%;
  left: 5%;
  background: black;
  border-right: solid 2px red; 
  border-bottom: solid 2px red;
  border-radius: 50%;
  padding: 10px;
}
#upBtText {
  color: white;
  font-size: 40px;
  text-decoration: none;
}